<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%- include navbar  %>
  <h1>Welcome</h1>
  <p><a href="/login">Login</a></p>
  <p><a href="/register">Sign up</a></p>
  <p><a href="/newpost">Write a post</a></p>

  <% posts.forEach(function(post) { %>

     <h1> <a href="/posts/<%= post.id %>"><%= post.title %></a>

         <h2> <a href="#"><%= post.author %></a></h2>

   <% }) %>

  </body>
</html>
