body {
  background: #eff0f2 !important;

}
  /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

.full-background {
  background-color: white;

}

.margin-spacer {
  margin-bottom: 50px;
}


img {
  filter: opacity(60%);
  width: 100%;
  min-height: 47vh;
  min-width:270px;
  position: relative;
  text-align: center;
}

.inlineText {
  position: absolute;
  max-width: 60%;
  text-align: center;
  top: 40%;
  left: 20%;
  font-size: 5vmin;
  color: white;

}

.btn-primary {
  background-color: #000;
  border-color: #000;
  margin: 1em;
  margin-top: 3em;
}



#title {
  font-size: 6vmin;

}

.btnOverlay {

}

.overflow {
  position:absolute;
  top:0;
  left:0;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  color:#ccc;
  max-width:100%;
  padding-right:70px;
}

.margin-spacer {
  margin-bottom: 40px;

}
