.post-title {
  margin: 2em auto;
  color: #fff;
}

.top-banner {
  background-image: url('/assets/workspace.jpg');
  opacity: 0.7;
}
.row div{
  text-align: center;
  margin: 0 auto;

}

.input-title {
  margin: 4em 0;
}


.form-group {

}

.submit-post {
  margin: 2em 0;
  background-color: #000;
  border: 1px solid #000;
}
